$black: rgba(51, 51, 51, 1);
$red: rgb(245, 66, 46);
$blue: #00a1de;
$grey: rgb(78, 77, 82);
$white: rgb(255, 255, 255);
$green: #00a594;


$menu-black: #7d7b7b;

$dark-bg: #e7e7e7;

$main: $green;
$footer: $grey;
$accent: $grey;
$accent-fc: $white;

