// html {
//     font-family: 'Yekan'
// }

// input{
//     font-family: 'Yekan';
// }

html {
  // font-family: IRANSans, yn;
  font-family: IRANSans;
  font-weight: 300;
}

input,
textarea,
select,
button {
  font-family: IRANSans;
  font-weight: 300;
}


