<footer>
    <div class="top">
        <div class="logo">
            <a href="http://ichto.ir" target="_blank">
                <img style="width:100px; height:auto;" src="{{site.baseurl}}/assets/images/ichto-logo.jpg">                
            </a>   
        </div>
        <div class="socials">             
            <a href="#">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="#">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="#">
                <i class="fa fa-google-plus"></i>
            </a>
            <a href="#">
                <i class="fa fa-pinterest"></i>
            </a>
        </div>
        <!-- <div class="subscription">
            <div class="label">ایمیل خود را وارد نمایید</div>
            <div class="input">
                <input type="text">
            </div>
            <div class="button">
                <input type="button" value="ثبت نام">
            </div>
        </div> -->
    </div>
    <div class="menu">
        <ul>           
            <li>
                <a href="#">درباره ما</a>
            </li>
            <li>
                <a href="#">تلفن های ضروری </a>
            </li>          
            <li>
                <a href="#">سوالات متداول</a>
            </li>
            <li>
                <a href="#">گردشگران باید بدانند</a>
            </li>
        </ul>
    </div>
    <div class="copyright">
        <span>کلیه حقوق متعلق به سازمان میراث فرهنگی، صنایع دستی و گردشگری است</span>
    </div>
</footer>