<header>
    <div class="logo-wrapper">
        <a href="">
            <img src="{{site.baseurl}}/assets/images/logo-fa.jpg" alt="">
        </a>
    </div>
    <div class="primary-menu-wrapper">
        <div class="top">
            <div class="top-filler"></div>
            <div class="top-mobile-underline"></div>
            <div class="container">
                <div class="right">
                    <a href="javascript:void(0)">پـرتـال جـامع گردشـگری ایـران</a>
                    <a href="#">دربـاره ی ایـران</a>
                </div>
                <div class="middle">
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-telegram"></i>
                    </a>
                </div>
                <div class="left">
                    <ul>
                        <li class="search">
                            <a href="#search">
                                <i class="fa fa-search"></i>
                            </a>
                            <!-- <form id="frmSearch" action="www.google.com">
                                <input type="text" name="search" id="search" class="search-input">
                                <input type="submit" class="btn-submit-search" value="">
                            </form> -->
                            <!-- <div class="search-input">
                                <span class="input-icon"><span class="fa fa-user"></span>
                                <input type="text" class="input-with-icon" id="form-name">
                            </div>  -->
                        </li>
                        <!-- <li>                            
                            <a href="#">ورود</a>
                        </li>
                        <li>
                                <a href="#">ثبت نام</a>
                        </li> -->
                        <li>
                            <div class="dropdown">
                                <button class="dropdown-btn" type="button">
                                    حساب کاربری
                                    <i class="fa fa-user-circle"></i>
                                </button>
                                <div class="dropdown-content">
                                    <a href="#">
                                        ثبت نام
                                        <!-- <img style="position: relative; top: 5px; margin-right: 15px;width:20px; height:auto" src="http://visitiran.ir/static/tourismiran/images/flags/fa.svg"> -->
                                        <i class="fa fa-user-plus"></i>
                                    </a>
                                    <a href="#">
                                        ورود
                                        <i class="fa fa-sign-in"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <button class="dropdown-btn flag" type="button">                                    
                                    <img src="http://visitiran.ir/static/tourismiran/images/flags/fa.svg">
                                </button>
                                <div class="dropdown-content">
                                    <a href="#">
                                        فارسی
                                        <img style="position: relative; top: 5px; margin-right: 15px;width:20px; height:auto" src="http://visitiran.ir/static/tourismiran/images/flags/fa.svg">
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <input type="checkbox" id="burger">
        <label for="burger">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <nav class="buttom">
            <ul>
                <li class="ostanha">
                    <div class="dropdown">
                        <button class="dropdown-btn" type="button">مقـاصـــد گــردشــگــری                            
                        </button>
                        <div class="dropdown-content map">
                            <div class="map-menu-wrapper">
                                <div class="right">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td data-state="west-azar">
                                                    <a href="">آذربایجان غربی</a>
                                                </td>
                                                <td data-state="cha-and-ba">
                                                    <a href="" style="font-size:15px">چهارمحال و بختیاری</a>
                                                </td>
                                                <td data-state="fars">
                                                    <a href="">فارس</a>
                                                </td>
                                                <td data-state="gilan">
                                                    <a href="">گیلان</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td data-state="east-azar">
                                                    <a href="">آذربایجان شرقی</a>
                                                </td>
                                                <td data-state="south-khorasan">
                                                    <a href="">خراسان جنوبی</a>
                                                </td>
                                                <td data-state="qazvin">
                                                    <a href="">قزوین</a>
                                                </td>
                                                <td data-state="lorestan">
                                                    <a href="">لرستان</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td data-state="ardabil">
                                                    <a href="">اردبیل</a>
                                                </td>
                                                <td data-state="razavi-khorasan">
                                                    <a href="">خراسان رضوی</a>
                                                </td>
                                                <td data-state="qom">
                                                    <a href="">قم</a>
                                                </td>
                                                <td data-state="mazandaran">
                                                    <a href="">مازندران</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td data-state="isfahan">
                                                    <a href="">اصفهان</a>
                                                </td>
                                                <td data-state="north-khorasan">
                                                    <a href="">خراسان شمالی</a>
                                                </td>
                                                <td data-state="kordestan">
                                                    <a href="">کردستان</a>
                                                </td>
                                                <td data-state="markazi">
                                                    <a href="">مرکزی</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td data-state="alborz">
                                                    <a href="">البرز</a>
                                                </td>
                                                <td data-state="khoozestan">
                                                    <a href="">خوزستان</a>
                                                </td>
                                                <td data-state="kerman">
                                                    <a href="">کرمان</a>
                                                </td>
                                                <td data-state="hormozgan">
                                                    <a href="">هرمزگان</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td data-state="ilam">
                                                    <a href="">ایلام</a>
                                                </td>
                                                <td data-state="zanjan">
                                                    <a href="">زنجان</a>
                                                </td>
                                                <td data-state="kermanshah">
                                                    <a href="">کرمانشاه</a>
                                                </td>
                                                <td data-state="hamedan">
                                                    <a href="">همدان</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td data-state="booshehr">
                                                    <a href="">بوشهر</a>
                                                </td>
                                                <td data-state="semnan">
                                                    <a href="">سمنان</a>
                                                </td>
                                                <td data-state="ko-and-bo">
                                                    <a href="" style="font-size:15px">کهکیلویه و بویراحمد</a>
                                                </td>
                                                <td data-state="yazd">
                                                    <a href="">یزد</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td data-state="tehran">
                                                    <a href="">تهران</a>
                                                </td>
                                                <td data-state="sis-and-bal">
                                                    <a href="" style="font-size:15px">سیستان و بلوچستان</a>
                                                </td>
                                                <td data-state="golestan">
                                                    <a href="">گلستان</a>
                                                </td>
                                                <td>
                                                    <a href="">&nbsp;</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="left">
                                    <div class="" id="map-container">
                                        <!-- <img src="http://kasbban.ir/assets/images/iranmap.svg" alt=""> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="http://google.com">
                            <button class="dropdown-btn" type="button">روستـاهـای مقصـد گردشگـری</button>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="javascript:void(0)">
                            <button class="dropdown-btn" type="button">اقامتگــاه هــای بومــگــردی                                
                            </button>
                        </a>                        
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropdown-btn" type="button">خـانه هـای تـاریـخــی</button>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropdown-btn" type="button">رویدادهــای گردشگــری</button>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>