<header>
        <div class="logo-wrapper">
            <a href="">
                <img src="{{site.baseurl}}/assets/images/logo-fa.jpg" alt="">
            </a>
        </div>
        <div class="primary-menu-wrapper">
            <div class="top">
                <div class="top-filler"></div>
                <div class="top-mobile-underline"></div>
                <div class="container">
                    <div class="right">
                        <a href="javascript:void(0)">پـرتـال جـامع گردشـگری ایـران</a>
                        <a href="#">دربـاره ی ایـران</a>
                    </div>
                    <div class="middle">
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-telegram"></i>
                        </a>
                    </div>
                    <div class="left">
                        <ul>
                            <li class="">
                                <a href="#new-trip" class="new-trip-button">
                                    برنامه جدید
                                    <i class="fa fa-plus"></i>
                                </a>                                
                            </li>
                            
                            <li>
                                <div class="dropdown">
                                    <button class="dropdown-btn" type="button">
                                        حساب کاربری
                                        <i class="fa fa-user-circle"></i>
                                    </button>
                                    <div class="dropdown-content">
                                        <a href="#">
                                            ثبت نام
                                            <!-- <img style="position: relative; top: 5px; margin-right: 15px;width:20px; height:auto" src="http://visitiran.ir/static/tourismiran/images/flags/fa.svg"> -->
                                            <i class="fa fa-user-plus"></i>
                                        </a>
                                        <a href="#">
                                            ورود
                                            <i class="fa fa-sign-in"></i>
                                        </a>
                                    </div>
                                </div>
                            </li>                            
                        </ul>
                    </div>
                </div>
            </div>
            <input type="checkbox" id="burger">
            <label for="burger">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <nav class="buttom">
                <ul>                   
                    <li>
                        <div class="dropdown">
                            <a href="http://google.com">
                                <button class="dropdown-btn" type="button">صفحه اصلی پرتال</button>
                            </a>
                        </div>
                    </li>                    
                    <li>
                        <div class="dropdown">
                            <button class="dropdown-btn" id="title-tripcount" type="button">برنامه های من</button>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>