// .content {
//   margin: 130px;
// }
.terminus {
  margin: 50px 130px;
  .title {
    position: relative;
    width: fit-content;
    top: -24px;
    z-index: 2;
    background: $white;
  }
  .parent {
    border-top: 1px solid $main;
    padding-top: 30px;
    width: 100%;
    margin: 0 130px;
    height: 550px;
    // background-color: skyblue;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    .left {
      width: 50%;
      .image {
        cursor: pointer;
        // border: 1px solid black;
        height: 550px;
        background: $white;
        box-sizing: border-box;
        position: relative;
        margin-right: 5px;
        .name {
          position: absolute;
          text-align: center;
          min-width: 250px;
          max-width: 350px;
          font-size: 24px;
          color: $white;
          background: rgba(0, 0, 0, 0.5);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 20px;
        }
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .right {
      width: 50%;
      flex: 1;
      height: 550px;
      //   background: lime;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      overflow: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .image {
        cursor: pointer;
        // &:nth-child(odd) {
        //   border-left: 5px solid $white;
        // }
        // border-bottom: 5px solid $white;
        width: 50%;
        // border: 1px solid black;
        height: 275px;
        background: $white;
        box-sizing: border-box;
        position: relative;
        padding: 1px;
        .name {
          position: absolute;
          text-align: center;
          min-width: 150px;
          max-width: 250px;
          color: $white;
          background: rgba(0, 0, 0, 0.5);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 20px;
        }
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .arrow {
    width: 50%;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
    //   margin-top: -40px;
    &.down {
      position: relative;
      margin-top: -40px;
      color: white;
      display: flex;
      i {
        width: 100%;
        margin: auto;
        text-align: center;
      }
    }
    &.up {
      position: relative;
      margin-bottom: -70px;
      color: white;
      display: flex;
      i {
        width: 100%;
        margin: auto;
        text-align: center;
      }
    }
  }
  .bottom {
    display: flex;
    justify-content: flex-end;
    margin: 30px 0;
  }
  @media (max-width: 1025px) { 
    margin: 50px 30px;
  }
  @media (max-width: 900px) { 
    .parent {
        .left {
            display: none;
        }
    }
    .arrow {
        width: 100%;
    }
  }
  @media (max-width: 600px) { 
    .parent {
        .right {
            .image {
                width: 100%;
            }
        }
    }
    .arrow {
        width: 100%;
    }
  }
}
