.btn {
  display: block;
  color: $red;
  border-color: transparent;

  &:disabled,
  &.disabled {
    pointer-events: none;
  }

  &.index {
    width: 230px;
    color: $white;
    background: $main;
    height: 38px;
  }
}

//Alternate Button
.btn.alt {
  color: $blue;
}
