.slick-slider {
  width: 100%;  
}

.slick-slide {
  outline: none;
}

.slider {
  &.province {
    display: flex;
    height: 501px;
    max-height: 501px;
    align-items: center;
    flex-direction: row-reverse;
    .right {
      display: flex;
      align-items: center;
      direction: ltr;
      overflow: hidden;
      max-width: 50%;
      width: 50%;
      max-height: 500px;
      .image {
        .name {
          position: absolute;
          top: 50%;
          left: 50%;
          text-align: center;
          font-size: 24px;
          width: 300px;
          background: rgba(0, 0, 0, 0.4);
          padding: 50px;
          transform: translate(-50%, -50%);
          a {
            color: $white;
          }
        }
        box-sizing: border-box;
        // border-left: 5px solid $white;
        // border-right: 5px solid $white;

        h3 {
          position: absolute;
          left: 50%;
          top: 50%;
        }
        img {
          object-fit: cover;
          height: 250px;
        }
      }
    }
    .left {
      height: 500px;
      background-color: #fff;
      padding-right: 5px;
      width: 50%;
      .image {
        text-align: right;
        .name {
          position: absolute;
          top: 50%;
          left: 50%;
          text-align: center;
          font-size: 24px;
          width: 300px;
          background: rgba(0, 0, 0, 0.4);
          padding: 50px;
          transform: translate(-50%, -50%);
          a {
            color: $white;
          }
        }
        img {
          object-fit: cover;
          height: 500px;
        }
      }
    }
  }
}

@media (max-width: 1025px) { 
  .slider {
    &.province {
      margin: 20px 20px;
      display: flex;
      flex-direction: column;
      height: auto;
      min-height: 500px;
      align-items: center;
      .right {
        display: flex;
        overflow: hidden;
        width: 100%;
        max-width: none;
        flex: 1;
        min-height: 300px;
        height: auto;
        .image {
          padding: 0 5px;
          img {
            object-fit: cover;
            height: 250px;
            width: 100%;
          }
        }
      }
      .left {
        // height: 500px;
        width: 100%;
        height: auto;
        margin-left: auto;
        .image {
          text-align: right;
          img {
            object-fit: cover;
            min-height: 250px;
            height: 300px;
          }
        }
      }
    }
  }
}
.crafts {
  margin: 30px 130px;
  .title {
    position: relative;
    width: fit-content;
    top: 8px;
    z-index: 2;
    background: $white;
  }
  .slider.craft {
    border-top: 1px solid $main;
    padding-top: 30px;
  }
  .bottom {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
  }
  .slider {
    &.craft {
      // display: flex;
      // height: 501px;
      // max-height: 501px;
      // align-items: center;
      // flex-direction: row;
      .center {
        .slick-slide {
          position: relative;
          padding: 0 10px;
          .image {
            // padding: 0 20px;
            border-left: 10px solid $white;
            border-right: 10px solid $white;
          }
          .text {
            direction: rtl;
            padding: 20px;
            background: $main;
            margin: 10px -10px 0 -10px;
            color: $white;
            h5 {
              font-size: 20px;
              margin-bottom: 10px;
            }
            p {
              text-align: justify;
              line-height: 20px;
              font-size: 14px;
            }
          }
        }
        .image {
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);

          img {
            height: 320px;
            object-fit: cover;
          }
        }
      }
    }
  }

  @media (max-width: 1025px) {
    // min-height: 750px;
    margin: 20px;
    .title {
      top: 25px;
    }
    .bottom {
      position: relative;
      // top: 100px;
      left: 20px;
    }

    .slider {
      &.craft {
        margin: 20px 20px;
        height: auto;
        min-height: 300px;
        align-items: center;
        .center {
          .image {
            .name {
              font-size: 18px;
              width: 250px;
            }
            img {
              height: 300px;
            }
          }
        }
      }
    }
  }
}

.prev {
  display: block;
  position: absolute;
  z-index: 1000;
  top: 50%;
  transform: translateY(-50%);
}

.next {
  display: block;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

.routes-province-scroll-down {
  position: absolute;
  display: inline;
  i {
    color: $main;
    font-size: 48px;
  }
}
