<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}}{% endif %}</title>

  <link rel="shortcut icon" href="{{side.baseurl}}/assets/images/favicon.jpg" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{side.baseurl}}/assets/images/touch-icon.jpg">
  <link rel="apple-touch-icon" sizes="72x72" href="{{side.baseurl}}/assets/images/touch-icon.jpg">
  <link rel="apple-touch-icon" sizes="114x114" href="{{side.baseurl}}/assets/images/touch-icon.jpg">  
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
  <script>
    var settings_planner = {
      destinations_url: 'http://visitiran.ir/fa/api/trips/destinations/',
      destinations_create_url: 'http://visitiran.ir/fa/api/trips/calculate/',
      dropdown_no_result_header: 'بدون نتیجه',
      dropdown_no_result_description: 'جستجوی شما مقداری نداشت.',
      empty_form: 'تمام اطلاعات رو پر نمایید',
      success_post: 'با موفقیت فرستاده شد',
      start_date_text: 'تاریخ شروع',
      end_date_text: 'تاریخ پایان',
      no_trips_yet: 'شما سفری ذخیره نکرده اید، لطفآ سفر جدید بسازید',
      no_of_trips_text: 'تعداد سفر های شما: ',
      trip_count: 'برنامه های من',
      start_time: 'تاریخ حرکت',
      arrival_time: 'تاریخ ورود',
      leaving_time: 'تاریخ حرکت',
      same_date: 'تاریخ شروع و پایان نباید یکی باشند'
    }

  </script>
  
  {% if page.custom_css %}
    {% for stylesheet in page.custom_css %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{ stylesheet }}.css" media="screen" type="text/css">
    {% endfor %}
  {% endif %}  


  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>test</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  
  <!-- <link rel="stylesheet" href="{{site.baseurl}}/assets/css/font-awesome.min.css"> -->

  <body>

    {% include trip_header.html %} {{content}} {% include footer.html %}

    <script  src="http://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- <script src="{{site.baseurl}}/assets/js/jquery.min.js" type="text/javascript"></script>     -->
    <!-- <script src="{{site.baseurl}}/assets/js/main.js" type="text/javascript"></script> -->
    <script src="{{site.baseurl}}/assets/js/iranmap.js" type="text/javascript"></script>    
    <script src="{{site.baseurl}}/assets/js/jwt-decode.min.js" type="text/javascript"></script>    
    <script src="{{site.baseurl}}/assets/js/token.js" type="text/javascript"></script>   
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>

    {% if page.custom_js %}
      {% for js_file in page.custom_js %}
        <script src='{{site.baseurl}}/assets/js/{{ js_file }}.js' type="text/javascript"></script>
      {% endfor %}
    {% endif %}

  </body>

</html>